src/main/webapp/WEB-INF/xsd/ProductResponse.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PRODUCT_RESPONSE">
    <xs:complexType>
      <xs:choice>
		<xs:element name="PRODUCT_RESPONSE_DATA">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="PRODUCT" maxOccurs="unbounded" minOccurs="1">
          			<xs:complexType>
                		<xs:attribute type="xs:string" name="name" use="required"/>
                		<xs:attribute type="xs:string" name="color" use="required"/>
                		<xs:attribute type="xs:integer" name="totalCost" use="required"/>
          			</xs:complexType>
        		</xs:element>
				</xs:sequence>
				<xs:attribute name="uuid" type="xs:string" use="required" />
			</xs:complexType>
		</xs:element>	      
      	<xs:element name="ERROR">
          <xs:complexType>
              <xs:attribute name="errorMsgCode" type="xs:string" use="required" />
              <xs:attribute name="uuid" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>    
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>